   <h2 class="text-center">Driver update </h2>
   <div class="formblock">
        <div class="container-fluid">
            <div class="col-sm-9 offset-2 ">
                <h1 class="text-center">Update driver profile</h1>

                <form method="POST">
                    <div>
                        <label> Name</label>
                        <input type="text" name="name" class="form-control" placeholder="firstName" minlength="5"
                            maxlength="50" value={{data.dataValues.firstName}} required>
                    </div>
                    
                    <div>
                        <label>Email</label>
                        <input type="email" name="email" class="form-control" placeholder="me@example.com" minlength="5"
                            maxlength="50" value={{data.dataValues.email}}
                            required>
                    </div>
                    <div>
                        <label>phone</label>
                        <input type="text" name="phone" class="form-control" placeholder="phone" minlength="10"
                            maxlength="10" value={{data.dataValues.phone}} required>
                    </div>
                    <div>
                        <label>car number</label>
                        <input type="text" name="vehnum" class="form-control" placeholder="phone" minlength="10"
                            maxlength="10" value={{data.dataValues.phone}} required>
                    </div>
                    <div>
                        <label>Adress</label>
                        <input type="text" name="adress" class="form-control" placeholder="current adress" minlength="5"
                            maxlength="50" value={{data.dataValues.adress}}>
                    </div>
                    <div>
                        <label>car type</label>
                        <input type="text" name="carmodel" class="form-control" placeholder="phone" minlength="10"
                            maxlength="10" value={{data.dataValues.phone}} required>
                    </div>

                    <div>
                        <label>Password</label>
                        <input type="password" placeholder="password" name="password" class="form-control" minlength="8"
                            maxlength="25" value={{data.dataValues.password}}>
                    </div>
                    {{#if message}}
                    <div class="alert alert-success">{{message}}</div>
                    {{/if}}
                    <div class="d-grid mt-4">
                        <button class="btn btn-primary shadow" type="submit" id="btn-login">UPDATE</button>

                    </div>
                    
            </div>
            </form>

        </div>
        </div>