{{>navbarbook}}
<div>
    <h2 class="text-center text-warning"> Cab Driver details </h2>
</div>

<div>
    <table class="table table-dark table-hover table-striped mt-4">
    <tr>
        <th>car</th>
        <th>Name</th> 
        <th>phone</th>
        <th>Adress</th>
        <th>reg number</th>
        <th>car Type</th>
        
        <th>Action</th>
    </tr>
    
    {{#each data}}
    <tr>
    <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkkgaOpBV2JmxxkvYK_69lrHA1ou5PdFbf3qrsluA9&s" alt=""></td>
    <td>{{this.dataValues.name}}</td>
    
    <td>{{this.dataValues.phone}}</td>
        <td>{{this.dataValues.adress}}</td>
        <td>{{this.dataValues.carNumber}}</td>
        <td>{{this.dataValues.carType}}</td>
        
        <td>
                    <a href="/bookcab/{{this.dataValues.id}}" class="text-primary">BOOK</a>
                    
                </td>
    {{/each }}
    </tr>
    </table>
</div>